@font-face {
    font-family: 'Mono';
    src: url('/assets/mono.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Mono', serif;
    background-color: black;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 10px;
    color: white;
}

.index-bg,
.sign-in-bg,
.index{
    opacity: 1;
    background-image: url("/assets/images/index_default.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.home-bg{
    background-image: url("/assets/images/house.png");
}

.dogpark-bg{
    background-image: url("/assets/images/dogpark.png");
}

.backyard-bg{
    background-image: url("/assets/images/backyard.png");
}

.houseToBackyard{
    background-image: url("/assets/images/house.png");
    animation: houseToBackyard;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.indexToDogpark{
    background-image: url("/assets/images/index_default.png");
    animation: indexToDogpark;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.dogparkToDogparkdetails{
    background-image: url("/assets/images/dogpark.png");
    animation: dogparkToDogparkdetails;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: cover;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

.dogparkdetailsToDogpark{
    background-image: url("/assets/images/dogpark.png");
    animation: dogparkdetailsToDogpark;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: cover;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

.dogparkdetails-bg{
    background-image: url("/assets/images/dogpark.png");
    background-size: cover;
    background-position: left;
    transform: scale(3);
    left: 1200px;
}

.backyardTodogdetails{
    background-image: url("/assets/images/backyard-dog.png");
    animation: backyardToBackyarddetails;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: contain;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

.backyarddetailsToBackyard{
    background-image: url("/assets/images/backyard.png");
    animation: backyarddetailsToBackyard;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: contain;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

.backyarddetails-bg{
    background-image: url("/assets/images/backyard-dog.png");
    background-size: cover;
    background-position: left;
    transform: scale(2.5);
    left: 1000px;
}

.speechbubble-details-yard#user{
    width: 200px;
    position: relative;
    top: 250px;
    left: 200px;
}

.speechbubble-details-yard#bob{
    width: 200px;
    position: relative;
    top: 250px;
    left: 200px;
}

.speechbubble-details-yard#bob .content{
    min-height: 0px !important;
    margin: -4px 0 !important;
}

.speechbubble-details-yard .content{
    min-height: 0px !important;
    margin: -6px 0 !important;
}

.speechbubble-details-yard#bob .content .continue {
	margin: 10px 0 5px 0px;
	font-size: 0.5rem;
}

.speechbubble-details-yard .content .paragraphs{
    font-size: 0.8rem;
}

.speechbubble-details-yard .content .continue {
	margin-top: 20px;
	font-size: 0.5rem;
}

.speechbubble-details-yard .content .continue a{
	margin-right: 20px;
}

.speechbubble-details-yard .tb-img {
	margin: 0;
}

section {
	position: absolute;
	height: 700px;
	width: 1400px;
}

.speechbubble-home{
    width: 700px;
	position: absolute;
	top: 30px;
	left: 100px;
}

.speechbubble-park{
    width: 700px;
	position: absolute;
	top: 100px;
	left: 180px;
}

.speechbubble-house{
    width: 700px;
    position: absolute;
    top: 224px;
    left: 580px;
}

.speechbubble-backyard{
    width: 700px;
    position: absolute;
    top: 164px;
    left: 720px;
}

.speechbubble-details-park{
    width: 300px;
    position: absolute;
    top: 220px;
    left: 200px;
}

.speechbubble-details-park .content .continue{
    font-size: 0.8rem;
    margin-top: 20px;
}

.speechbubble-details-park .content .continue a{
    margin-right: 20px;
}

.tb-img{
    width: 100%;
    margin: -5px 0;
}

.bubble > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/images/speech_content.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: black;
    width: 100%;
    margin: -1px 0;
    min-height: 100px;
    font-size: 2rem;
}
.speechbubble-details-park > .content{
    font-size: 1rem;
}

.content > .paragraphs > p,
.content > table,
.content > h1{
    width: 100%;
    padding-left: 30px;
}

.content > table {
    padding-right: 30px;
}

th{
    text-align: left;
    text-transform: capitalize;
}

.content > .paragraphs > .dialog{
    white-space: nowrap;
    overflow: hidden;
    animation: type 1s steps(40, end);
    animation-fill-mode: forwards;
}

.content > .paragraphs > .dialog:nth-child(2){
    opacity: 0;
    animation-delay: 1s;
}

.content > .paragraphs > .dialog:nth-child(3){
    opacity: 0;
    animation-delay: 2s;
}

.content > .paragraphs > .dialog:nth-child(4){
    opacity: 0;
    animation-delay: 3s;
}

.content > .paragraphs > .dialog:nth-child(5){
    opacity: 0;
    animation-delay: 4s;
}

.content > .paragraphs > .dialog:nth-child(6){
    opacity: 0;
    animation-delay: 5s;
}

.content .continue{
    position: relative;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-top: 50px;
    animation-name: bopping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.content .dialog-option{
    height: 20px;
    position: relative;
    top: 0px;
    left: 50px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    animation-name: bopping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: black;
    text-decoration: none;
    transition: .2s ease-in-out;
    margin: 10px 0;
}

.content .dialog-option:first-child{
    margin-top: 10px;
}

.content .dialog-option:hover::before,
.content .dialog-option:focus::before,
.buttons > a:first-child:hover::before {
	background-image: url("/assets/images/active_dialog.png");
	height: 80%;
	width: 17px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: "";
	position: relative;
	top: 5px;
}

.content .continue a{
    text-decoration: none;
    color: black;
    margin-right: 60px;
}

.scroll-home {
	position: absolute;
	width: 600px;
	top: 20px;
	left: 150px;
}

.scroll-home > .content > .paragraphs p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.scroll-signin{
    position: absolute;
	width: 600px;
	top: 20px;
	left: 150px;
}

.scroll-table{
    position: absolute;
    width: 1000px;
	top: 0px;
	left: 200px;
}

.content > span{
    text-align: center;
}

.scroll-signin > .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.scroll > .content > .input{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    padding-left: 30px;
}

.scroll > .content > .input input {
	height: 30px;
	background-image: url("/assets/images/bar.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	width: 400px;
	height: 40px;
    padding-left: 30px;
}

.scroll-add > .content > .input input,
textarea{
    width: 350px;
}

textarea{
    background-image: url("/assets/images/bar.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
    border:none;
    height: 100px;
    width: 350px;
    padding-left: 30px;
    padding-top: 30px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons > a:first-child{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.buttons > button:last-child{
    font-size: 1rem;
    height: 60px;
}

input:focus,
textarea:focus{
    outline: none;
}

form button {
	background-image: url("/assets/images/button.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 118px;
	height: 50px;
	margin: 10px;
	font-size: 1.2rem;
	font-weight: bolder;
}

form button:hover{
    background-image: url("/assets/images/button_pressed.png");
}

.scroll > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/images/scrolls_content.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: black;
    width: 100%;
    margin: -3px 0;
    min-height: 150px;
    font-size: 2rem;
}

.scroll-add{
    width: 450px;
    position: absolute;
    top: 45px;
    left: 500px;
}

.scroll-table > .content > table {
    font-size: 1.2rem;
    padding-bottom: 20px;
}


.scroll-table > .content > h1{
    font-size: 2rem;
}

.scroll-table > .content > span{
    font-size: 1.4rem;
}



.flex-left{
    align-items: flex-start;
}

.dissapear{
    opacity: 1;
    animation: dissapear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes bopping {
    0%   {top: 5px;}
    100%  {top: 0px;}
}

@keyframes type{
    0% { width: 0; }
    1% { opacity: 1; }
    100% { width: 100%; opacity: 1; }
}

@keyframes indexToDogpark{
    0% { opacity: 1; background-image: url("/assets/images/index_default.png"); }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; background-image: url("/assets/images/dogpark.png"); }
}

@keyframes dogparkToIndex{
    0% { opacity: 1; background-image: url("/assets/images/dogpark.png"); }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; background-image: url("/assets/images/index_default.png"); }
}

@keyframes houseToBackyard{
    0% { opacity: 1; background-image: url("/assets/images/house.png"); }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; background-image: url("/assets/images/backyard.png"); }
}

@keyframes dogparkToDogparkdetails{
    0% { 
        transform: scale(1); 
    }
    100% { 
        transform: scale(3);
        left: 1200px;
    }
}

@keyframes dogparkdetailsToDogpark{
    0% { 
        transform: scale(3);
        left: 1200px;
    }
    100% {
        transform: scale(1);
        left: 0px;
    }
}

@keyframes backyardToBackyarddetails{
    0% { 
        transform: scale(1); 
    }
    100% { 
        transform: scale(3);
        left: 1000px;
    }
}

@keyframes backyarddetailsToBackyard{
    0% { 
        transform: scale(3);
        left: 1000px;
    }
    100% {
        transform: scale(1);
        left: 0px;
    }
}
