@font-face {
    font-family: 'Mono';
    src: url('/assets/mono.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Mono', serif;
    background-color: black;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 10px;
    color: white;
}

.index-bg,
.sign-in-bg,
.index{
    opacity: 1;
    background-image: url("/assets/images/index_default.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.dogpark-bg{
    background-image: url("/assets/images/dogpark.png");
}

.indexToDogpark{
    background-image: url("/assets/images/index_default.png");
    animation: indexToDogpark;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.dogparkToDogparkdetails{
    background-image: url("/assets/images/dogpark.png");
    animation: dogparkToDogparkdetails;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: cover;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

.dogparkdetails-bg{
    background-image: url("/assets/images/dogpark.png");
    background-size: cover;
    background-position: left;
    transform: scale(3);
    left: 1200px;
}

.dogparkdetailsToDogpark{
    background-image: url("/assets/images/dogpark.png");
    animation: dogparkdetailsToDogpark;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-size: contain;
    background-position: left;
    transform: scale(1);
    position: relative;
    left: 0;
}

section {
	position: absolute;
	height: 700px;
	width: 1400px;
}

.speechbubble-home{
    width: 700px;
	position: absolute;
	top: 30px;
	left: 100px;
}

.speechbubble-details-park{
    width: 300px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.speechbubble-home img,
.scroll-home img,
.scroll-signin img,
.scroll-table img,
.speechbubble-details-park img{
    width: 100%;
    margin: -5px 0;
}

.speechbubble-home > .content,
.speechbubble-details-park > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/images/speech_content.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: black;
    width: 100%;
    margin: -1px 0;
    min-height: 100px;
    font-size: 2rem;
}
.speechbubble-details-park > .content{
    font-size: 1rem;
}

.content > .paragraphs > p,
.content > table,
.content > h1{
    width: 100%;
    padding-left: 30px;
}

.content > table {
    padding-right: 30px;
}

th{
    text-align: left;
    text-transform: capitalize;
}

.content > .paragraphs > .dialog{
    white-space: nowrap;
    overflow: hidden;
    animation: type 1s steps(40, end);
    animation-fill-mode: forwards;
}

.content > .paragraphs > .dialog:nth-child(2){
    opacity: 0;
    animation-delay: 1s;
}

.content > .paragraphs > .dialog:nth-child(3){
    opacity: 0;
    animation-delay: 2s;
}

.content > .paragraphs > .dialog:nth-child(4){
    opacity: 0;
    animation-delay: 3s;
}

.content > .paragraphs > .dialog:nth-child(5){
    opacity: 0;
    animation-delay: 4s;
}

.content > .paragraphs > .dialog:nth-child(6){
    opacity: 0;
    animation-delay: 5s;
}

.content .continue{
    position: relative;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin-top: 50px;
    animation-name: bopping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.content .dialog-option{
    height: 20px;
    position: relative;
    top: 0px;
    left: 50px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    animation-name: bopping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: black;
    text-decoration: none;
    transition: .2s ease-in-out;
    margin: 10px 0;
}

.content .dialog-option:first-child{
    margin-top: 100px;
}

.content .dialog-option:hover::before,
.content .dialog-option:focus::before {
	background-image: url("/assets/images/active_dialog.png");
	height: 80%;
	width: 17px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	content: "";
	position: relative;
	top: 5px;
}

.content .continue a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

.scroll-home {
	position: absolute;
	width: 600px;
	top: 20px;
	left: 150px;
}

.scroll-signin{
    position: absolute;
	width: 600px;
	top: 20px;
	left: 150px;
}

.scroll-table{
    position: absolute;
    width: 1000px;
	top: -100px;
	left: 200px;
}

.content > span{
    text-align: center;
}

.scroll-signin > .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.scroll-signin > .content > .input{
    display: flex;
    flex-direction: column;
}

.scroll-signin > .content > .input input{
    height: 30px;

}

.scroll-signin > .content button{
    width: 60px;
    margin-bottom: 30px;
}

.scroll-home > .content,
.scroll-signin > .content,
.scroll-table > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/assets/images/scrolls_content.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    color: black;
    width: 100%;
    margin: -3px 0;
    min-height: 150px;
    font-size: 2rem;
}

.scroll-table > .content > table {
    font-size: 1.2rem;
    padding-bottom: 20px;
}


.scroll-table > .content > h1{
    font-size: 2rem;
}

.scroll-table > .content > span{
    font-size: 1.4rem;
}



.flex-left{
    align-items: flex-start;
}

.dissapear{
    opacity: 1;
    animation: dissapear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes bopping {
    0%   {top: 5px;}
    100%  {top: 0px;}
}

@keyframes type{
    0% { width: 0; }
    1% { opacity: 1; }
    100% { width: 100%; opacity: 1; }
}

@keyframes indexToDogpark{
    0% { opacity: 1; background-image: url("/assets/images/index_default.png"); }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; background-image: url("/assets/images/dogpark.png"); }
}

@keyframes dogparkToIndex{
    0% { opacity: 1; background-image: url("/assets/images/dogpark.png"); }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; background-image: url("/assets/images/index_default.png"); }
}

@keyframes dogparkToDogparkdetails{
    0% { 
        transform: scale(1); 
    }
    100% { 
        transform: scale(3);
        left: 1200px;
    }
}

@keyframes dogparkdetailsToDogpark{
    0% { 
        transform: scale(3);
        left: 1200px;
    }
    100% {
        transform: scale(1);
        left: 0px;
    }
}